@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@500&family=Roboto&display=swap');

/* use ctr+shift+o to search keyword */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
/* /Color variables */
:root {
    --primary-color-lb: #242B2E;
    --primary-color-llb: #758283;
    --primary-color-r: #B4161B;
}
/* animation zone */
/* :root{

} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Header design*/
header {
    height: 100px;
    width: 100%;
    border-bottom: 3px solid rgba(109, 108, 108, 0.801);
    /* background-color: rgba(97, 95, 95, 0.733); */
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* .logo {
    display: flex;
width: 30%;
    justify-content: center;
    align-items: center;
} */

.logo img {
    width: 100px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    color: black;
    border: none;
    font-size: 0.79rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul li a::after {
    content: ' ';
    height: 4px;
    display: block;
    width: 0;
    background: hotpink;
    transition: all .3s;
}

.navbar ul li a:hover::after {
    width: 100%;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 186px;
}
#mmi-icon{
    display: none;
}

.image-logo {
    flex-shrink: 2;
    overflow: hidden;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
}

main {
    width: 100%;
    /* margin-top: 20px; */
    height: calc(800px - 100px);
    background: #a29bfe;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    
    text-align: center;
    width: 50%;
}

.container h1 {
    font-size: 2rem;
    color: var(--primary-color-lb);
    letter-spacing: 1.5px;
    /* margin: 0 0.5rem; */

    /* animation: animate__bounceOut; /* referring directly to the animation's @keyframe declaration 
    animation-duration: 2s; 
    /* animation: Tahir0;
    animation-duration: 10s;
    animation-iteration-count: infinite; */

}
/* .animate__bounceOut{

} */

/* @keyframes Tahir0 {
    0% {
        color: var(--primary-color-llb);
    }

    50% {
        color: var(--primary-color-lb);
    }

    100% {
        color: black;
    }
} */

.container p {
    margin-top: 20px;
    font-size: 0.998rem;
    color: white;
}

.container button {
    margin-top: 40px;
    padding: 13px 32px;
    outline: none;
    border: none;
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 0.75rem;
    transition: all .3s ease-out;
    cursor: pointer;

}

.container button:hover {
    background-color: rgb(160, 99, 218);
}

.lower-bannar {
    width: 100%;
    height: 250px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background-color: var(--primary-color-llb);
    margin-top: 50px;
}

.header-cont {
    width: 80%;
    height: 80px;
    background-color: white;
    display: block;
    padding: auto;
}

.about {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.contenter {
    margin-top: 15px;
    display: block;
    width: 90%;
}

.contenter p {
    font-size: 0.9em;
}

.about-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    /* animation: Tahir1;
    animation-duration: 5s;
    animation-iteration-count: infinite; */

}

.about-logo img {
    border-radius: 50%;
    width: 100%;

}

/* @keyframes Tahir1 {
    20% {
        box-shadow: 0 0 15px white;
    }

    100% {
        box-shadow: 0 0 30px blueviolet;

    }
} */

.lower-about {
    width: 100%;
    height: 450px;
    /* background-color: #758283; */
    /* box-shadow: inset 0 15px 0 25px white; */
    margin-top: 50px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.services-manager {
    width: 90%;
    height: 320px;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;


}

.services-header {
    display: inline-block;
 
    border-bottom: 3px solid var(--primary-color-r)
}

.item0 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 270px;
    margin-top: 20px;
transition: all .5s;
    background-color: rgb(88, 88, 87);
    border-radius: 15px;
}
@media (max-width:900px){
.item0{
    width: 100%;
}

}

.slight-header-category {
    width: 175px;

    height: 40px;
    /* box-shadow: 0 0 15px aliceblue; */
    border-radius: 20px;
    background: linear-gradient(220deg, rgba(255, 105, 180, 0.479), rgba(0, 162, 255, 0.555));
    text-align: center;
    padding-top: 11px;
    color: white;
}

.slight-header-category h4 {
    font-size: 0.855rem;
}

.small-para-services {
    text-align: center;
    display: block;
    width: 160px;
    height: 85px;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: var(--primary-color-llb);
}

.btn-1 button {
    padding: 9px 16px;
    background-color: blanchedalmond;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s;

}

.btn-1 button:hover {
    background-color: rgb(160, 99, 218);
    box-shadow:0 0 8px white;
}
/* contact zone */
.contact{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    /* border: 2px solid #758283; */
    background-color: #dfe6e9;
    padding-top: 10px ;
    margin-top: 20px;
}
.contact .contact-heading {
display: inline-block;
border-bottom: 4px solid #B4161B;
}
.contact-heading h1{
    font-size: 2rem;
    font-weight: 700;
    
}
input[type=text],input[type=email]{
    padding-left: 10px;
    display: inline-block;
    width: 50vw;
    height: 45px;
    outline: none;
    border: 5px solid #758283;
    border-radius: 10px;
    margin-top: 10px;
    
}
input[type=email]{
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
input[type=button]{
    background: linear-gradient(255deg,#242B2E,#758283);
    width: 50vw;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: all .3s;
    cursor: pointer;
    font-weight: 600;
    color: white;
    
}
input[type=button]:hover{
    background: linear-gradient(-255deg,#242B2E,#758283);
}
.input{
    margin-top: 20px;
}
.input label{
    margin-left: 15px;
    font-weight: 600;
    font-size: 0.99rem;
    /* margin-bottom: 20px; */
}
.btn-contact{
    margin-top: 40px;
}
/* Blog section */
.blog{
    height: 800px;
    width: 100%;
    background-color: #758283;
    margin-top: 50px;
    /* display felexing */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    /* aligment of section */
}
.blog .heading{
    color: white;
    display: inline-block;
    border-bottom:4px solid #B4161B;

}
.blog-manager{
    height: 650px;
    width: 98%;
    background-color: antiquewhite;
}
/* Blog section */
/* Media query section */
@media (max-width:900px){
    .item0{
        width: 100%;
    }
    .slight-header-category{
        width: 90%;
    }
    .small-para-services {
        width: 80%;
        font-size: 1.2rem;
        font-weight: 600;
    }
    #ser-btn{
        padding: 15px 50px ;
        
    }
    }
